<mat-card>
  <div class="navbar">

    <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Sopra_Steria_logo.svg/1280px-Sopra_Steria_logo.svg.png" alt="" class="logo"></div>

    <div>
      <button mat-raised-button color="accent" *ngIf="isAuth== true">
        <a
          class="btn btn-link md-3"
          color="white"
          routerLink="/conge/employe/{{ login }}"
          routerLinkActive="active"
          >Mes congés</a
        >
      </button>
      <button mat-raised-button color="accent" *ngIf="isAdmin()" >
        <a
          class="btn btn-link md-3"
          routerLink="/inscription"
          routerLinkActive="active"
          >Creation employé</a
        >
      </button>

      <button mat-raised-button color="accent" *ngIf="isManager">
        <a
          class="btn btn-link md-3"
          routerLink="/conge/manager"
          routerLinkActive="active"
          >Gerer demandes de congés(manager)</a
        >
      </button>
    </div>

      <div *ngIf="login">
        <img mat-button [matMenuTriggerFor]="menu" class="img-navbar" src="https://img2.freepng.fr/20180627/wio/kisspng-computer-icons-user-profile-avatar-jain-icon-5b332c5add9336.0201786915300803469076.jpg" alt="">
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Modifier Profil</button>
        <button mat-menu-item>Ajouter Employé</button>
        <button mat-menu-item (click)='click()'>Se déconnecter</button>
      </mat-menu>
      </div>


  </div>
</mat-card>
<router-outlet></router-outlet>
