<mat-card>
  <nav>
    <div class="navbar">
      <div>
        <button mat-raised-button color="accent">
          <a class="btn btn-link" routerLink="/login" routerLinkActive="active"
            >Se connecter</a
          >
        </button>
        <button mat-raised-button color="accent">
          <a
            class="btn btn-link"
            color="white"
        routerLink="/demande/employe/{{login}}"
            routerLinkActive="active"
            >Demander un congé</a
          >
        </button>
        <button mat-raised-button color="accent">
          <a
            class="btn btn-link"
            routerLink="/inscription"
            routerLinkActive="active"
            >Creation employé(admin)</a
          >
        </button>

        <button mat-raised-button color="accent">
          <a
          class="btn btn-link"
          routerLink="/conge/manager"
          routerLinkActive="active"
          >Gerer demandes de congés(manager)</a>
        </button>
      </div>
      <div class="dropdown">
        <img class="dropdown-toggle img-navbar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://img2.freepng.fr/20180627/wio/kisspng-computer-icons-user-profile-avatar-jain-icon-5b332c5add9336.0201786915300803469076.jpg" alt="">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Modifier Profil</a>
          <a class="dropdown-item" href="#">Ajouter Employé</a>
          <a class="dropdown-item" href="#">Autre chose ici</a>
        </div>
      </div>
    </div>
  </nav>
</mat-card>
<router-outlet></router-outlet>
