<div class="container mt-5">
  <h1 class="text-center m-3">Service {{service.nom}} dirigé par {{service.manager.nom}} {{service.manager.prenom}}</h1>
  <div *ngFor="let employe of service.listeEmployes">
    <div class="card">
      <div class="d-flex justify-content-between">
        <div class="info-employe">
          <img class="avatar-employe mr-3" src="https://img2.freepng.fr/20180627/wio/kisspng-computer-icons-user-profile-avatar-jain-icon-5b332c5add9336.0201786915300803469076.jpg" alt="">
          <h2>{{employe.nom}} {{employe.prenom}}</h2>
        </div>
        <div>
          <button class="btn connexion-button mr-2" (click)='clickDemande(employe.id)'>Demande de congés</button>
          <button class="btn conge-button" (click)='clickConge(employe.id)'>Congés</button>
        </div>
      </div>
      <div *ngIf="idArrayDemande.includes(employe.id)">
        <div *ngFor="let conge of employe.conges">
        </div>
      </div>
      <div *ngIf="idArrayConge.includes(employe.id)">
        <table class="table">
          <tr>
            <th>date de la demande</th>
            <th>date de début</th>
            <th>date de fin</th>
            <th>type</th>
            <th>statut</th>
            <th>motif</th>
            <th> Motif Refus </th>
          </tr>
          <tr *ngFor="let conge of employe.conges">

          <td>{{conge.dateDemande}}</td>
          <td>{{conge.dateDebut}}</td>
          <td>{{conge.dateFin}}</td>
          <td>{{conge.typeConge}}</td>
          <td>{{conge.statut}}</td>
          <td>{{conge.motif}}</td>


          <td>
          <button class="btn connexion-button mr-2"><a
            (click)="Accept(conge)"
            >Accepter</a
          ></button>&nbsp;
          <button class="btn delete-button mr-2">
          <a
            (click)="Decline(conge)"
            >Refuser</a
          ></button></td></tr>

        </table>
      </div>
     </div>
    </div>
  </div>

<div>




</div>
