.card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.delete-button {
  background-color: rgba(255, 0, 0, 0.425);
  color: white;
  border-radius: 20px;
  padding: 8px 24px;
  opacity: 1;
}

.connexion-button {
  background-color: #1b9aaa;
  color: white;
  border-radius: 20px;
  padding: 8px 24px;
  opacity: 1;
}

.connexion-button:hover {
  opacity: 0.8;
  transition: background-color 0.3s ease;
}

.conge-button {
  background-color: #f4b433;
  color: white;
  border-radius: 20px;
  padding: 8px 24px;
  opacity: 1;
}

.conge-button:hover {
  opacity: 0.8;
  transition: background-color 0.3s ease;
}

.avatar-employe {
  border-radius: 50%;
  width: 50px;
}

.info-employe {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

table tr:nth-child(even) td {
  background-color: khaki;
}

table tr:nth-child(odd) td {
  background-color: skyblue;
}
