<div class="container">
  <h1 class="text-center m-3">Service {{service.nom}} dirigé par {{service.manager.nom}} {{service.manager.prenom}}</h1>
  <div *ngFor="let employe of service.listeEmployes">
    <div class="card">
      <div class="d-flex justify-content-between">
        <div class="info-employe">
          <img class="avatar-employe mr-3" src="https://img2.freepng.fr/20180627/wio/kisspng-computer-icons-user-profile-avatar-jain-icon-5b332c5add9336.0201786915300803469076.jpg" alt="">
          <h2>{{employe.nom}} {{employe.prenom}}</h2>
        </div>
        <div>
          <button class="btn connexion-button mr-2" (click)='clickDemande(employe.id)'>Demande de congés</button>
          <button class="btn conge-button" (click)='clickConge(employe.id)'>Congés</button>
        </div>
      </div>
      <div *ngIf="idArrayDemande.includes(employe.id)">
        <div *ngFor="let conge of employe.conges">
        </div>
      </div>

      <div *ngIf="idArrayConge.includes(employe.id)">
        <mat-card>
          <div *ngFor="let conge of employe.conges">
          <tr>
            <th>date de la demande</th>
            <th>date de début de congé</th>
            <th>date de fin de congé</th>
            <th>motif</th>
            <th>statut</th>
          </tr>
          <tr>
          <td>{{conge.dateDemande}}</td>
          <td>{{conge.dateDebut}}</td>
          <td>{{conge.dateFin}}</td>
          <td>{{conge.type}}</td>
          <td>{{conge.statut}}</td>
          <td>{{conge.motif}}</td>
        </tr>

          <div>
            <td>
          <a
            class="btn btn-outline-success"
            (click)="Accept(conge)"
            >Accepter</a
          >&nbsp;
          <a
            class="btn btn-outline-danger"
            (click)="Decline(conge)"
            >Refuser</a
          ></td>
        </div>
        </div>
      </mat-card>
        </div>
     </div>
    </div>
  </div>

<div>




</div>
