
<h1>liste des congés</h1>
<table class="table">
  <select matNativeControl [(ngModel)]="conge.type" name="statut">
            <option *ngFor="let statutConge of keys(statutConges)" [ngValue]="statutConges[statutConge]">{{statutConge}}
            </option>
  </select>
  <tr>
    <td>date de la demande</td>
    <td>date de début de congé</td>
    <td>date de fin de congé</td>
    <td>motif</td>
    <td>statut</td>
  </tr>

  <tr *ngFor="let conge of conges">
    <div>
    <td>{{ conge.dateDemande }}</td>
    <td>{{ conge.dateDebut }}</td>
    <td>{{ conge.dateFin }}</td>
    <td>{{ conge.motif }}</td>
    <td>{{ conge.statut }}</td>
    <!--<td>
      <a
        [routerLink]="['/conge/employe', conge.demandeur.id, 'edit', conge.id]"
        class="btn btn-outline-info"
        >edition</a
      >
    </td>-->
  </div>
  </tr>

</table>
<button mat-raised-button color="warn">
  <a routerLink="/demande/employe/{{login}}" >faire une demande</a>
</button>

