



<mat-card class="container">
    <h1>liste des congés de {{login}}</h1>
  <mat-card-content class="item">

    <section class="example-section">
      <mat-label>Statut des congés</mat-label>
      <mat-checkbox class="example-margin" [(ngModel)]="filter.acceptee" (ngModelChange)="filterChange()" >Acceptée</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="filter.enCours" (ngModelChange)="filterChange()" >En cours</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="filter.refusee" (ngModelChange)="filterChange()" >Refusée</mat-checkbox>
    </section>
  </mat-card-content>


  <table class="table">
    <tr>
      <th >statut</th>
      <th >date de la demande</th>
      <th >date de début de congé</th>
      <th >date de fin de congé</th>
      <th >motif</th>
    </tr>

    <tr *ngFor="let conge of congesFiltres">
      <td>{{ conge.statut }}</td>
      <td>{{ conge.dateDemande }}</td>
      <td>{{ conge.dateDebut }}</td>
      <td>{{ conge.dateFin }}</td>
      <td>{{ conge.motif }}</td>

    </tr>
  </table>
  <mat-card-actions class="container">
    <button mat-raised-button color="accent">
      <a routerLink="/demande/employe/{{login}}" >faire une demande</a>
    </button>
  </mat-card-actions>
</mat-card>



