/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: #f4f4f4;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgba(180, 180, 180, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  height: 100px;
  width: 100%;
  margin-top: auto;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
